.App {
  text-align: center;
}

.logo{
  border: 2px solid #ffcf40;
  display: flex;
  flex-direction:column;
  align-items: center;
  border-radius: 10%;
  padding: 10px;
}
h1{
  margin: 10px;
  text-decoration: none;
  color: #ffcf40;
}
.logo_link{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

.App-header {
  background-color: #111;
  height: 150px;
  padding: 20px;
  color: white;
}
.movie_grid{
  display:grid;
  padding:1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap:1rem;
}
.poster{
  box-shadow: 0 0 35px black
}
.movieInfo{
background:white;
text-align:left;
padding: 2rem 10%;
display: flex;
}

.desc{
  margin-left:20px;
}

img{
  position:relative;
}
