.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Star';
  src: url('./SF\ Distant\ Galaxy\ Outline\ Italic.ttf');
}


.logo {
  border: 1px solid #ffcf40;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  padding: 5px;
}

h1 {
  margin: 10px;
  text-decoration: none;
  color: #ffcf40;
  font-family: Star;
  letter-spacing: 3px;
}

.logo_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

.poster {
  box-shadow: 0 0 35px black
}

.backdrop {
  width: 100%;
}

img {
  position: relative;
}